# macOS
#
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
#
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

## Linux
#
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Node.js
#
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json*
yarn.lock*

# Editor directories and files
#
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
